body {
  background-color: white;
  color: #336CCF;
}

#p {
  color: #336CCF;
}

h1 {
  color: #F36663;
}

span {
  color: #D03A39;
}

header {
  margin-bottom: 6em;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #8FDEFF;
  margin: 1.5em 0;
  padding: 0;
  : #8FDEFF;
  height: 3px;
}
#palayerArt {
  padding: 0;
  margin: 0;
}

.audio {
  display: none;
}

#audioShow {
  margin-top: 5em;
  height: 5em;
  margin-left: 0;
  padding-left: 0
  color: #336CCF;
}

#search {
  color: #336CCF;
}

.art {
  width: 100%;
}

form {
  color: #82CDF7;
  font-size: 5em;
  width: 33%;
}

.results {
  color: #336CCF;
}
