body {
  background-color: white;
}

#p {
  color: #336CCF;
}

h1 {
  color: #F36663;
}

span {
  color: #D03A39;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #8FDEFF;
  margin: 1.5em 0;
  padding: 0;
  : #8FDEFF;
  height: 3px;
}

audio {}

#search {
  color: #336CCF;
}

img {
  width: 100%;
}

form {
  color: #82CDF7;
  font-size: 5em;
  width: 33%;
}

.results {
  color: #336CCF;
}
